<div class="author">
  <h1 class="author_heading">Hello, I am Fern</h1>
  <p class="author_body">Web Developer and Baker.</p>
</div>

<img
  src="/images/author-img.jpg"
  alt="the picture of things you need to write a blog"
  class="hero-image"
  width="900"
  height="528"
/>

<section class="articles">
  <h2 class="articles_heading">Latest Posts</h2>

  <ul class="article_ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list_date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list_date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list_date">Date</span>
      </a>
    </li>
  </ul>
  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
